<?xml version="1.0" encoding="utf-8"?>
<!-- Intentionally an embedded resource -->

<!-- There is no WCF config here as the example is programmatically configured -->

<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>